# NEXT_PUBLIC_API_BASE_URL=http://localhost:3000/api
NEXTAUTH_SECRET=369e95d4214621577ed477e05c85889bb3f4e541147b859d341c57f578e1706c

# google client ID -> cloud.console.google -> credential
GOOGLE_OAUTH_CLIENT_ID=397030970102-e3ummsrh449tg7f4osuv2o0savumidj1.apps.googleusercontent.com
GOOGLE_OAUTH_CLIENT_SECRET=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


# firebase configuration -> get firebase config after create a firebase project
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyAU4Bu19mpJ3GxQX3lAbWetICdyIYFcd4I
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=humanity-charity.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=humanity-charity
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=humanity-charity.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=397030970102
NEXT_PUBLIC_FIREBASE_APP_ID=1:397030970102:web:d01875495cd985a03112d7


FIREBASE_ADMIN_KEY="type": "service_account", "project_id": "YOUR_PROJECT_ID", "private_key_id": "YOUR_PRIVATE_KEY_ID", "private_key": "YOUR_PRIVATE_KEY", "client_email": "YOUR_CLIENT_EMAIL", "client_id": "YOUR_CLIENT_ID", "auth_uri": "https://accounts.google.com/o/oauth2/auth", "token_uri": "https://oauth2.googleapis.com/token", "auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs", "client_x509_cert_url": "https://www.googleapis.com/robot/v1/metadata/x509/firebase-adminsdk-XXXXX@PROJECT_ID.iam.gserviceaccount.com"
JWT_SECRET=L8Lhbf3gnyU4Gj4GZ0s3XQ
TOKEN_EXPIRATION=1h


#midtrans
NEXT_PUBLIC_CLIENT =SB-Mid-client-APBGBiFl3B7JV9iu
NEXT_PUBLIC_SECRET =SB-Mid-server-z_rL8evy70zE81mgTZT6NgaU
NEXT_PUBLIC_API =https://api.sandbox.midtrans.com
